{% extends "base.html" %}

{% block content %}
<div>
    <h1>Works log</h1>
    {% for item in jobs%}
    <div class="col-md6 border rounded">
        <h3>Action #{{item.id}}</h3>
        <table class="table table-striped-columns">
                <tr><th>Title of activity</th><th>Team leader</th><th>Duration</th><th>List of collaborations</th><th>Is finished</th></tr>
                {% if item.is_finished == 0 %}
                        <tr><td>{{item.job}}</td><td>{{ item.user.surname }} {{item.user.rname}}</td><td>{{item.work_size}} hours</td><td>{{item.collaborators}}</td><td>Is not Finished</td></tr>
                 {% else %}
                       <tr><td>{{item.job}}</td><td>{{ item.user.surname }} {{item.user.rname}}</td><td>{{item.work_size}} hours</td><td>{{item.collaborators}}</td><td>Is finished</td></tr>
                 {% endif %}
        </table>
        <div><h1> </h1></div>
    </div>
{% endfor %}
</div>
{% endblock %}